@use '../utils/mixins' as *;
@use '../base/variables' as *;

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;

  @include down(md) {
    padding: 0 4%;
  }

  &.container {
    max-width: 1200px;

    @include down(lg) {
      max-width: 100%;
    }
  }
}
